<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>
      <a href="/movies">Movies</a>
      </h1>

    <ul>
        <li><a href="/auth/login">Login</a></li>
    </ul>

    <form action="/movies/search" method="POST">
        <label for="search">Search bar</label>
        <input type="text" id="search" name="search" placeholder="Search movies.." required>
        
        <span>
            <button type="submit">Search</button>
        </span>
    </form>
    

    <div>
      <% for (let i=0; i<movies.length; i++) { %>
      <span> <img src="<%= movies[i].poster %>" alt=""></span>
      <% } %>
    </div>
      



  </body>
</html>
